<div class="movie-card">
  <mat-card class="movie-header">
    <div [ngStyle]="getBgStyle()">
      <div class="material-icons button-container">
        <p class="play-button"></p>
      </div>
    </div>
  </mat-card><!--movie-header-->
  <mat-card class="movie-content">
    <mat-card-content class="movie-content-header">
      <a href="#">
        <h3 class="movie-title">{{ torrent.title }}</h3>
      </a>
      <!--div class="imax-logo"></div-->
    </mat-card-content>
    <mat-card-content class="movie-info">
      <mat-card-content class="info-section">
        <label>Year & Time</label>
        <span>{{ torrent.year }} - {{ torrent.runtime }}mn</span>
      </mat-card-content><!--date,time-->
      <mat-card-content class="info-section">
        <label>Rating</label>
        <span>{{ torrent.rating }}</span>
      </mat-card-content><!--screen-->
      <mat-card-content class="info-section">
        <label>Lang</label>
        <span>{{ torrent.language }}</span>
      </mat-card-content><!--row-->
      <mat-card-content class="info-section">
        <label>Views</label>
        <span>???</span>
      </mat-card-content><!--seat-->
    </mat-card-content>
  </mat-card><!--movie-content-->
</div><!--movie-card-->
