<div class="movie-card">
  <mat-card class="movie-header" [ngStyle]="getBgStyle()">

    <div class="view">
      <div *ngIf="torrent.already_seen; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <i class="material-icons view_logo">
          visibility
        </i>
      </ng-template>
      <ng-template #elseBlock>
        <i class="material-icons  view_logo">
          visibility_off
        </i>
      </ng-template>
    </div>


    <div class="material-icons button-container">
      <p class="play-button"></p>
    </div>
  </mat-card><!--movie-header-->

  <mat-card class="movie-content">
    <mat-card-content class="movie-content-header">
      <a href="#">
        <h3 class="movie-title">{{ torrent.title }}</h3>
      </a>
      <!--div class="imax-logo"></div-->
    </mat-card-content>
    <mat-card-content class="movie-info">
      <mat-card-content class="info-section">
        <label>Year & Time</label>
        <span>{{ torrent.year }} - {{ torrent.runtime }}mn</span>
      </mat-card-content><!--date,time-->
      <mat-card-content class="info-section">
        <label>Rating</label>
        <span>{{ torrent.rating }}</span>
      </mat-card-content><!--screen-->
      <mat-card-content class="info-section">
        <label>Language</label>
        <span>{{ torrent.language }}</span>
      </mat-card-content><!--row-->
      <mat-card-content class="info-section">
        <br>

      </mat-card-content><!--seat-->
    </mat-card-content>
  </mat-card><!--movie-content-->
</div><!--movie-card-->
