@import '~@angular/material/theming';
@include mat-core();

$hypertube-primary: mat-palette($mat-red, 700);
$hypertube-accent: mat-palette($mat-deep-purple, 500);
$hypertube-warn: mat-palette($mat-blue-grey, 100);


$my-dark-theme-background: (
  status-bar: green,
  app-bar:    map_get($mat-blue, 900),
  background: black,
  hover:      rgba(white, 0.04),
  card:       rgba(black, 0.6),
  dialog:     #222,
  disabled-button: $white-12-opacity,
  raised-button: map-get($mat-grey, 900),
  focused-button: $white-6-opacity,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
);

$my-dark-theme-foreground: (
  base:              white,
  divider:           $white-12-opacity,
  dividers:          $white-12-opacity,
  disabled:          rgba(white, 0.3),
  disabled-button:   rgba(white, 0.3),
  disabled-text:     rgba(white, 0.3),
  hint-text:         rgba(white, 0.3),
  secondary-text:    rgba(white, 0.7),
  icon:              white,
  icons:             white,
  text:              white,
  slider-min:        white,
  slider-off:        rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

@function create-hyper-theme($primary, $accent, $warn) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    foreground: $my-dark-theme-foreground,
    background: $my-dark-theme-background,
  );
}

$hypertube-theme: create-hyper-theme($hypertube-primary, $hypertube-accent, $hypertube-warn);

@include angular-material-theme($hypertube-theme);
