.container {
  display: grid;
  margin-bottom: 20px;
}

.movie-card {
  margin: 20px;
  padding: 0;
}

.cinema {
  margin: 0 auto 0 auto;
  width: 100%;
  padding: 0 0 41.8% 0;
  position: relative;
  box-shadow: 0 0 30px black;
}

video {
  position: absolute;
  padding: 0;
  margin: 0;
}

.progress-card {
  width: 100%;
}

.progress-card mat-progress-spinner {
  position: absolute;
  width: 100px;
  height: 100px;
  text-align: center;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.details-grid{
  display: grid;
  grid-template-columns: 200px 1fr;
}

.details{
  overflow: hidden;
  height: 320px;
}

.details p{
  overflow-y: auto;
}

.details img {
  object-fit: contain;
  margin: 20px 8px;
  width: calc(100% - 16px);
}

.tab{
  margin: 8px 10px;
}

.tab-section{
  height: 320px;
}

.info{
  overflow: hidden;
}
