<ng-container *ngIf="loaded | async ">
  <div class="container">
    <mat-card class="movie-card">
      <mat-card-content class="cinema">
        <vg-player *ngIf="videoloaded | async; else progress_bar">
          <video [vgMedia]="media" #media preload="auto" id="video-player" #vgHLS="vgHls" [vgHls]="link"
                 crossorigin controls>
            <track *ngIf="subtitle_defined_lang" [src]=subtitle_path_lang kind="subtitles" srclang="{{lang}}"
                   label="{{lang}}"
                   [attr.default]="subtitle_default ? '' : null"/>
            <track *ngIf="subtitle_defined_en" [src]=subtitle_path_en kind="subtitles" srclang="en" label="eng"/>
          </video>
        </vg-player>
        <ng-template #progress_bar>
          <div class="progress-card">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <mat-tab-group class="details">
          <mat-tab label="Info" class="tab-section">
            <div class="tab info details-grid">
              <div>
                <img [src]="torrent.medium_cover_image">
              </div>
              <div>
                <h3>{{ torrent.title }}
                  <mat-chip selected>{{torrent.rating}}</mat-chip>
                </h3>
                <p>{{ torrent.year }}</p>
                <p>{{torrent.runtime}}mn</p>
                <p>{{torrent.views}} views</p>
                <mat-chip-list>
                  <mat-chip *ngFor="let genre of torrent.genres" color="warn" selected>{{genre}}</mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Synopsis"><p class="tab">{{ torrent.synopsis }}</p></mat-tab>
          <mat-tab label="Casting">
            <p class="tab">
              <mat-list>
                <mat-list-item *ngFor="let cast of torrent.cast">
                  <h3 matLine> {{cast.name}} </h3>
                  <div matLine>{{cast.character_name}}</div>
                </mat-list-item>
              </mat-list>
            </p>
          </mat-tab>
          <mat-tab label="Comments">
            <app-comments [id_movie]="torrent._id"></app-comments>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
