<ng-container *ngIf="loaded | async ">
  <div class="container">
    <mat-card class="movie-card">
      <mat-card-content class="cinema">
        <vg-player *ngIf="videoloaded | async; else progress_bar">
          <video [vgMedia]="media" #media preload="auto" id="video-player" #vgHLS="vgHls" [vgHls]="link"
                 crossorigin controls>
            <track *ngIf="subtitle_defined_lang" [src]=subtitle_path_lang kind="subtitles" srclang="{{lang}}"
                   label="{{lang}}"
                   [attr.default]="subtitle_default ? '' : null"/>
            <track *ngIf="subtitle_defined_en" [src]=subtitle_path_en kind="subtitles" srclang="en" label="eng"/>
          </video>
        </vg-player>
        <ng-template #progress_bar>
          <div class="progress-card">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <mat-tab-group class="details">
          <mat-tab label="{{'Info' | translate}}" class="tab-section">
            <div class="tab info details-grid">
              <div>
                <img [src]="torrent.medium_cover_image">
              </div>
              <div>
                <h3>{{ torrent.title }}
                  <mat-chip selected>{{torrent.rating}}</mat-chip>
                </h3>
                <p *ngIf="torrent">{{ torrent.type | translate }} - {{ torrent.year }}</p>
                <p *ngIf="torrent.runtime">{{torrent.runtime}}mn</p>
                <p *ngIf="torrent.torrents[torrent_id].episode && torrent.torrents[torrent_id].episode != 0">
                  {{'Season' | translate}}
                  {{torrent.torrents[torrent_id].season}} -
                  {{'Episode' | translate}}
                  {{torrent.torrents[torrent_id].episode}}
                </p>
                <p>{{torrent.views}} {{'views' | translate}}</p>
                <p></p>
                <mat-chip-list>
                  <mat-chip style="cursor: pointer"  *ngFor="let genre of torrent.genres" (click)="showMoviesByGenre(genre)" color="warn" selected>{{genre | translate}}</mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="{{'Synopsis' | translate}}"><p class="tab">{{ torrent.synopsis }}</p></mat-tab>
          <mat-tab label="{{'Casting' | translate}}">
            <p class="tab">
              <mat-list>
                <mat-list-item *ngFor="let cast of torrent.cast">
                  <h3 matLine> {{cast.name}} </h3>
                  <div matLine>{{cast.character_name}}</div>
                </mat-list-item>
              </mat-list>
            </p>
          </mat-tab>
          <mat-tab label="{{'Comments' | translate}}">
            <app-comments [id_movie]="torrent._id"></app-comments>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
