.container{
  position: absolute;
  top: 0;
  background-image: url("/assets/img/background.svg");
  background-size: cover;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.auth-container{
  position: absolute;
  top: calc(50% - 125px);
  left: calc(50% - 115px);
  width: 230px;
  height: 250px;
  text-align: center;
}

.link{
  color: gainsboro;
}

.link:hover{
  transition: 0.3s;
  color: grey;
}

.avatar-list{
  height: 220px;
  overflow-y: auto;
}

.avatar-list mat-list-item{
  cursor: pointer;
  color: gainsboro;
}

.avatar-list mat-list-item img{
  filter: saturate(60%);
}

.avatar-list mat-list-item:hover h4{
  color: white;
  text-shadow: crimson 0 0 5px;
}

.avatar-list mat-list-item:hover img{
  filter: none;
}