<div class="container">
    <mat-card class="auth-container">
        <form (submit)="login()" method="post">
            <mat-card-content>
                <mat-list class="avatar-list">
                    <mat-list-item *ngFor="let user of users" (click)="login(user.username)">
                        <img matListAvatar src="{{user.photo}}">
                        <h4 matLine>{{user.username}}</h4>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions><a class='link' href='/register'>New user</a></mat-card-actions>
        </form>
    </mat-card>
</div>
