<mat-toolbar color="secondary">
  <span>Hypertube</span>
  <a [routerLink]="['torrents']"><button mat-mini-fab color="secondary"><mat-icon color="secondary">play_circle_filled_white</mat-icon></button></a>
  <span class="toolbar-divider"></span>
  <a [routerLink]="['profile']"><button mat-mini-fab color="secondary"><mat-icon color="secondary">account_box</mat-icon></button></a>
  <button mat-mini-fab (click)="authService.logout()" color="secondary"><mat-icon color="secondary">exit_to_app</mat-icon></button>
</mat-toolbar>
