.toolbar-divider {
  flex: 1 1 auto;
}

.navbar {
  height: 55px;
  margin: 0;
  padding: 0;
  background: none;
}

.navbar > * {
  z-index: 2;
  margin: 0 15px 0 15px;
}

.navbar span {
  font-family: 'Pinco';
  color: crimson;
  text-shadow: white 1px 1px;
  font-size: 48px;
}

.navbar mat-icon:hover {
  transform: rotate(360deg);
  transition: 0.5s;
}
