.scrollable {
  overflow-y: auto;
}

.torrents-container {
  display: grid;
  /* autoprefixer: off */
  grid-template-columns: repeat(auto-fill, 315px);
  grid-gap: 25px;
  justify-content: center;
  margin-bottom: 25px;
}
