.links > * {
  margin: 0 15px;
}

.links.right {
  text-align: right;
}

.navbar{
  display: grid;
  height: 55px;
  margin: 0;
  padding: 0;
  background: none;
}

.navbar > * {
  z-index: 2;
}

@media only screen and (min-width: 600px) {
  .navbar {
    grid-template-columns: 150px 1fr 150px;
  }

  .navbar span {
    text-align: center;
    font-family: 'Pinco';
    color: #d32f2f;
    text-shadow: white 1px 1px;
    font-size: 42px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    grid-template-columns: 1fr 1fr;
  }

  .navbar span {
    display: none;
  }
}

.navbar mat-icon:hover {
  transform: rotate(360deg);
  transition: 0.5s;
}
