<div class="container">
  <mat-card class="search-container">
    <mat-card-content>
      <form role="form" [formGroup]="formGroupSearch" name="formSearch">
        <mat-form-field>
          <input matInput type="text" formControlName="input_query" placeholder="{{'Title' | translate}}"/>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="inputType" placeholder="Type">
            <mat-option value="Movie" select>{{'Movie' | translate}}</mat-option>
            <mat-option value="TV Show">{{'TV Show' | translate}}</mat-option>
            <mat-option value="Both">{{'Both' | translate}}</mat-option>

          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="inputGenre" placeholder="Genre">
            <mat-option value="all" select>{{'All' | translate}}</mat-option>
            <mat-option value="Comedy">{{'Comedy' | translate}}</mat-option>
            <mat-option value="Sci-Fi">{{'Sci-Fi' | translate}}</mat-option>
            <mat-option value="Horror">{{'Horror' | translate}}</mat-option>
            <mat-option value="Romance">{{'Romance' | translate}}</mat-option>
            <mat-option value="Action">{{'Action' | translate}}</mat-option>
            <mat-option value="Thriller">{{'Thriller' | translate}}</mat-option>
            <mat-option value="Drama">{{'Drama' | translate}}</mat-option>
            <mat-option value="Mystery">{{'Mystery' | translate}}</mat-option>
            <mat-option value="Crime">{{'Crime' | translate}}</mat-option>
            <mat-option value="Animation">{{'Animation' | translate}}</mat-option>
            <mat-option value="Adventure">{{'Adventure' | translate}}</mat-option>
            <mat-option value="Fantasy">{{'Fantasy' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="inputTri" placeholder="{{'Sort by' | translate}}">
            <mat-option value="pop_a" selected>{{'Popularity' | translate}}
              <span class="fa fa-sort-up"></span>
            </mat-option>
            <mat-option value="pop_d">{{'Popularity' | translate}}
              <span class="fa fa-sort-down"></span>
            </mat-option>
            <mat-option value="year_a" selected>{{'Year' | translate}}
              <span class="fa fa-sort-up"></span>
            </mat-option>
            <mat-option value="year_d">{{'Year' | translate}}
              <span class="fa fa-sort-down"></span>
            </mat-option>
            <mat-option value="rating_a">{{'Rating' | translate}}
              <span class="fa fa-sort-up"></span>
            </mat-option>
            <mat-option value="rating_d">{{'Rating' | translate}}
              <span class="fa fa-sort-down"></span>
            </mat-option>
            <mat-option value="runt_a">{{'Runtime' | translate}}
              <span class="fa fa-sort-up"></span>
            </mat-option>
            <mat-option value="runt_d">{{'Runtime' | translate}}
              <span class="fa fa-sort-down"></span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="{{'Author' | translate}}"/>
        </mat-form-field>

        <ion-range-slider
                          type="double"
                          min="1870"
                          max="2018"
                          from="1870"
                          from_min="1870"
                          from_max="2017"
                          to="2018"
                          to_min="1871"
                          to_max="2018"
                          prefix="{{'Year'| translate}}: "
                          (onFinish)="getYears(advancedSlider, $event)">
        </ion-range-slider>

        <ion-range-slider
                          type="double"
                          min="0"
                          max="10"
                          from="0"
                          from_min="0"
                          from_max="9"
                          to="10"
                          to_min="1"
                          to_max="10"
                          prefix="{{'Rating' | translate}}: "
                          (onFinish)="getRating(advancedSlider, $event)">
        </ion-range-slider>

        <mat-card-actions>
          <button mat-button type="submit" (click)="onSubmitSearch()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
