.container {
  display: inline-block;
  position: relative;
  width: calc(100% - 30px);
  margin: 10px auto;
  padding: 15px;
}

.search-container {
  /*width: calc(100% - 40px);*/
  text-align: center;
  margin: auto;
}

.search-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.search-container mat-form-field, ion-range-slider{
  width: 180px;
  margin: 5px 20px;
}

.search-container mat-card-actions{
  width: 180px;
  margin: 5px 20px;
}

ion-range-slider {
  width: 180px;
  filter: invert(1) grayscale(1) brightness(1.3) contrast(1);
}
