.container {
  display: flex;
  justify-content: center;
}
.search-container{
  margin:20px 0 20px 0;
  text-align: center;
}
form {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}
mat-form-field {
  margin:  0 20px 0 20px;
}
