/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.container {
  position: absolute;
  top: 0;
  background-image: url("/assets/img/background.jpg");
  background-size: cover;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.auth-container {
  margin-top: 100px;
  left: calc(50% - 190px);
  width: 350px;
  height: 100%;
  text-align: center;
}

mat-card-header {
  margin: auto;
  text-align: center;
}

.register-input {
  margin-top: 10px;
  margin-bottom: -15px;
}

.error-msg {
  color: red;
  margin-top: -30px;
}

cdk-global-overlay-wrapper {
  margin-bottom: 500px;
}

mat-card-actions {
  margin: 0px;
}

a {
  width: 100%;
  margin-bottom: 0px;
}

.inside {
  background-color: #f4f4f2;
  margin-bottom: 10px;
  margin-top: -10px;
  padding: 10px;
}

.register-input {
}

button {
  margin-left: 20px;
}
