mat-list-item{
  position: relative;
}

mat-list-item .comment_time{
  position: absolute;
  top:5px;
  right: 5px;
  font-size: 12px;
}

mat-list-item img{
  width: 60px;
  height: 60px;
}

mat-list-item a{
  text-decoration: none;
  color: white;
}
