.container{
  position: absolute;
  top: 0;
  background-image: url("/assets/img/background.jpg");
  background-size: cover;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.auth-container{
  position: absolute;
  top: calc(50% - 125px);
  left: calc(50% - 115px);
  width: 230px;
  height: 250px;
  text-align: center;
}

mat-card-header{
  margin: auto;
  text-align: center;
}

.link{
  color: gainsboro;
}

.link:hover{
  transition: 0.3s;
  color: grey;
}

button:hover{
  transition: 0.4s;
  background-color: #FF9900;
  color: white;
}
