<div class="container">
  <mat-card class="auth-container">
    <mat-card-header>
      <mat-card-title>Please login or <a href="/register">Sign up</a></mat-card-title>
    </mat-card-header>
    <mat-grid-list cols="4">
      <mat-grid-tile>
        <button mat-mini-fab color="warn" (click)="signInWithGoogle()">
          <i class="fa fa-google-plus visible-xs"></i>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <a href="http://localhost:3000/user/login/twitter">
          <button mat-mini-fab color="primary">
            <i class="fa fa-twitter visible-xs"></i>
          </button>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a href="http://localhost:3000/user/login/outlook">
          <button mat-mini-fab color="accent">
            <i class="fa fa-windows visible-xs"></i>
          </button>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-mini-fab color="primary" (click)="signInWith42()">42</button>
      </mat-grid-tile>
    </mat-grid-list>
    <form (submit)="login()" method="post">
      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-icon matSuffix>account_box</mat-icon>
            <input matInput placeholder="Username" name="username" required [(ngModel)]="username">
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-icon matSuffix>lock</mat-icon>
            <input matInput type="password" placeholder="Password" name="password" required [(ngModel)]="password">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary">Go</button>
        <button mat-button type="button" color="primary">Forgot password?</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
