<div class="container">
  <mat-card class="auth-container">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
      <p>{{text}}</p>
    </mat-card-header>

    <form (submit)="register()" method="post">
      <mat-card-content>
        <div>

          <mat-form-field class="register-input">
            <mat-icon matSuffix>account_box</mat-icon>
            <input matInput placeholder="Firstname" name="first_name" required [(ngModel)]="firstname">
          </mat-form-field>
          <br/>
          <small class="error-msg">{{ err_firstname }}</small>
          <br/>

          <mat-form-field class="register-input">
            <mat-icon matSuffix>account_box</mat-icon>
            <input matInput placeholder="Lastname" name="last_name" required [(ngModel)]="lastname">
          </mat-form-field>
          <br/>
          <small class="error-msg">{{ err_lastname }}</small>
          <br/>

          <mat-form-field class="register-input">
            <mat-icon matSuffix>account_box</mat-icon>
            <input matInput placeholder="Username" name="username" required [(ngModel)]="username">
          </mat-form-field>
          <br/>
          <small class="error-msg">{{ err_username }}</small>
          <br/>

          <mat-form-field class="register-input">
            <mat-icon matSuffix>account_box</mat-icon>
            <input matInput placeholder="Email" name="email" required [(ngModel)]="email">
          </mat-form-field>
          <br/>
          <small class="error-msg">{{ err_email }}</small>
          <br/>

          <mat-form-field class="register-input">
            <mat-icon matSuffix>lock</mat-icon>
            <input matInput type="password" placeholder="Password" name="password" required [(ngModel)]="password">
          </mat-form-field>
          <br/>
          <small class="error-msg">{{ err_password }}</small>
          <br/>

          <mat-form-field class="register-input">
            <mat-icon matSuffix>lock</mat-icon>
            <input matInput type="password" placeholder="Password confirmation" name="password2" required [(ngModel)]="password2">
          </mat-form-field>
          <br/>
          <small class="error-msg">{{ err_password2 }}</small>
          <br/>

          <input type="file" name="photo" [(ngModel)]="photo" ng2FileSelect [uploader]="uploader" />
          <br>
          <br>
          <small class="error-msg">{{ err_photo }}</small>
          <br/>

          <mat-form-field class="register-input">
            <mat-select [(ngModel)]="language" name="language" placeholder="Language">
              <mat-option value="english" >English</mat-option>
              <mat-option value="french">French</mat-option>
              <mat-option value="spanish">Spanish</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary">Register</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
