<div class="container">
  <mat-card class="auth-container">

    <mat-card-content>
      <div>
        <h1>Profile</h1>
        <div id="frame" [ngStyle]="{'background-image': getImg()}"></div>
        <br/>
        <br/>


        <b>Username</b>
        <p>{{username}}</p>
        <br/>

        <b>Firstname</b>
        <p>{{firstname}}</p>
        <br/>

        <b>Lastname</b>
        <p>{{lastname}}</p>
        <br/>

        <b>Language</b>
        <p>{{language}}</p>
        <br/>


        <div *ngIf="email; then thenBlock"></div>
        <ng-template #thenBlock>

          <b>Email</b>
          <p>{{email}}</p>
          <br/>
          <mat-card-actions>
            <a href="/update" mat-raised-button color="primary">Update</a>
          </mat-card-actions>

        </ng-template>

      </div>
    </mat-card-content>

  </mat-card>
  <mat-card *ngIf="grant" class="auth-container">
    <mat-card-content>
      <h1>Admin</h1>
      <form (submit)="populate()" method="post">
        <mat-form-field>
          <input matInput type="number" placeholder="Amount" name="amount" [(ngModel)]="amount">
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button color="warn">Populate</button>
          <button mat-raised-button color="warn" type="button" (click)="getInfos()">Add Infos</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
