<div class="container">
  <mat-card class="auth-container">

    <mat-card-content>
      <div>
        <h1 translate>Profile</h1>
        <div id="frame" [ngStyle]="{'background-image': getImg()}"></div>
        <br/>
        <br/>


        <b translate>Username</b>
        <p>{{username}}</p>
        <br/>

        <b translate>Firstname</b>
        <p>{{firstname}}</p>
        <br/>

        <b translate>Lastname</b>
        <p>{{lastname}}</p>
        <br/>

        <b translate>Language</b>
        <p>{{language}}</p>
        <br/>


        <div *ngIf="email; then thenBlock"></div>
        <ng-template #thenBlock>

          <b translate>Email</b>
          <p>{{email}}</p>
          <br/>
          <mat-card-actions>
            <a href="/update" mat-raised-button color="primary">{{'Update' | translate}}</a>
          </mat-card-actions>

        </ng-template>

      </div>
    </mat-card-content>

  </mat-card>
  <mat-card *ngIf="grant" class="auth-container">
    <mat-card-content>
      <h1 translate>Admin</h1>
      <form (submit)="populate()" method="post">
        <mat-form-field>
          <input matInput type="number" placeholder="{{'Amount' | translate}}" name="amount" [(ngModel)]="amount">
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button color="warn">{{'Populate'| translate}}</button>
          <button mat-raised-button color="warn" type="button" (click)="getInfos()">{{'AddInfos' | translate}}</button>
          <button mat-raised-button color="info" type="button" (click)="CleanDB()">{{'Reset' | translate}}</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
