<h1 mat-dialog-title>{{data.msg}}</h1>
<div mat-dialog-content>
  <mat-nav-list>
      <a mat-list-item [href]="'/watch/movie/' + data.torrent._id + '?torrent=' + torr.key"
         *ngFor="let torr of data.torrent.torrents | keyvalue">
        <ng-container *ngIf="torr.value.episode && torr.value.episode != 0">Season {{torr.value.season}}
          Episode
          {{torr.value.episode}}
        </ng-container>
        <ng-container *ngIf="torr.value.episode == 0">Source {{torr.key}}</ng-container>
        <ng-container *ngIf="torr.value.quality">Quality {{torr.value.quality}}</ng-container>
      </a>
  </mat-nav-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onGoBackClick()">Return</button>
  <button mat-button [mat-dialog-close]="">Select</button>
</div>
