.left-message{
  height: 150px;
}

.background-avatar {
  height: 100px;
  width: 100px;
  background-color: darkolivegreen;
}

.avatar {
  height: 100px;
  width: 100px;
}

.content {
  margin-top: -15px;
  width: 940px;
  overflow-wrap: break-word;
}

.date {
  margin-top: 15px;
}

.hr_date {
  margin-top: -5px;
}

.hr_end {
  margin-bottom: 0px;
}

