.container {
  position: absolute;
  top: 0;
  background-image: url("/assets/img/background.svg");
  background-size: cover;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.auth-container {
  margin-top: 100px;
  left: calc(50% - 190px);
  width: 350px;
  height: 100%;
  text-align: center;
}

mat-card-header {
  margin: auto;
  text-align: center;
}

.register-input {
  margin-top: 10px;
  margin-bottom: -15px;
}

.error-msg {
  color: red;
  margin-top: -30px;
  white-space: pre-line;
}

cdk-global-overlay-wrapper {
  margin-bottom: 500px;
}

mat-card-actions {
  margin: 0px;
}

a {
  width: 100%;
  margin-bottom: 0px;
}

.inside {
  background-color: #444;
  margin-bottom: 10px;
  margin-top: -10px;
  padding: 10px;
}

.register-input {
}

button {
  margin-left: 20px;
}

#frame {
  background-size: cover;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 200px;
  background: no-repeat center;
  background-size: cover;
  margin: 0 auto;
}
