<!--form type="form" [formGroup]="formGroupSearch" name="formSearch" (ngSubmit)="onSubmitSearch()">
  <input formControlName="inputSearch" type="text" name="title" />
  <input type="submit" />
</form-->
<app-search></app-search>
  <div class="container">
    <!--div class="row"-->
      <app-torrent *ngFor="let torrent of torrents"
                   [torrent]="torrent"
                   [routerLink]="['movie', torrent.id]"
      ></app-torrent>
    </div>
<br />
<div class="container" *ngIf="torrentsIsShow">
  <div class="row">
    <div class="col-lg-2 col-md-offset-5">
      <button type="button" class="btn btn-primary" (click)="prevPage()" *ngIf="prevActived">Prev</button>
      <button type="button" class="btn btn-primary" (click)="nextPage()">Next</button>
  </div>
</div>
</div>
  <!--/div-->
