.container{
  top: 100px;
  position: absolute;
  background-image: url("/assets/img/background.jpg");
  background-size: cover;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}

app-search {
}
