<div class="container">
  <mat-card class="auth-container">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
      <p>{{text}}</p>
    </mat-card-header>

    <form (submit)="register()" method="post">
      <mat-card-content>
        <div>

          <mat-form-field class="register-input">
            <mat-icon matSuffix>account_box</mat-icon>
            <input matInput placeholder="Username" name="username" required [(ngModel)]="username">
          </mat-form-field>
          <br/>
          <small class="error-msg">{{ err_username }}</small>
          <br/>

          <mat-form-field>
            <input type="file" accept=".jpg, .jpeg, .png" name="photo" [(ngModel)]="photo" ng2FileSelect
                   [uploader]="uploader" id="file-upload_back" hidden>
            <input matInput type="text" name="path" id="file-upload_file" disabled/>
          </mat-form-field>
          <button mat-mini-fab type="button" id="file-upload">
            <mat-icon>add_a_photo</mat-icon>
          </button>
          <br>
          <small class="error-msg">{{ err_photo }}</small>
          <br/>

          <mat-form-field class="register-input">
            <mat-select [(ngModel)]="language" name="language" placeholder="Language">
              <mat-option value="english">English</mat-option>
              <mat-option value="french">French</mat-option>
              <mat-option value="spanish">Spanish</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary">Register</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
